body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

.board
	width:360px
	height:120px

.box
    width: 100px
    height: 100px
    background-color: #808080
    display: inline-block
    margin: 0
    border-radius: 20px
    padding: 10px

.x
	background-color:green

.o
	background-color:red